.DS_Store
/external/autoconfig
/linux/assets/autoconfig
/linux-flatpak/assets/autoconfig
/macos/assets/autoconfig
/macos-intel/assets/autoconfig
/windows/assets/autoconfig
# nix build
result-*
result
